/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  color: #fff;
  text-align: center;
  background-color: #20639b;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding: 10px 0;
  height: $footer-height;
  line-height: $footer-height / 2;
}


