.shout {
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #777;
  height: auto;
  margin: 10px;
  padding: 12px;

    
  .avatar {
    display: inline;
    padding: 5px;
    
    .profile-image {
      border-radius: 50%;
      vertical-align: top;
    }
  }

  .shout-author {
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    line-height: 80px;

    a {
      color: #000;
    }
  }

  .shout-body {
    padding-top: 5px;
    font-size: 18px;
  }

  .shout-creation-time {
    font-size: 0.8em;
    padding: 8px 0;
    border-bottom: 1px solid #aaa;

    a { 
      color: #666;
    }
  }

  .like-btn {
    display: inline-block;
    margin-top: 10px;
  }

}