.shout {
  height: 90px;
  margin-top: 10px;
  border-left: 3px solid #222222;
  padding: 15px;
    
  .avatar {
    float: left;
    padding: 5px;
  }

  .profile-image {
    border-radius: 50%;
  }

  .shout-creation-time {
    overflow: hidden;
  }

}