.dashboards {
  margin: 0 auto;
  width: 80%;
  border-top: 2px solid green;

  .previous-shouts {
    border-top: 2px  solid black;
  }

  .shout {
    border: 2px solid blue;
    margin-top: 1em;
  }
}
