<footer class="footer">
    <h1>© <%= Date.today.year %> Your Company</h1>
    <ul>
      <li><%= link_to "Terms", root_path %></li>
      <li><%= link_to "Privacy", root_path %></li>
    </ul>
</footer>