<footer class="footer">
  <h1>© <%= Date.today.year %> Shoutr</h1>
  <ul class="footer-nav-links">
    <li><%= link_to "Terms", root_path %></li>|
    <li><%= link_to "Privacy", root_path %></li>
  </ul>
</footer>